


/*GOOGLE FONTS*/
@import url(http://fonts.googleapis.com/css?family=Signika+Negative);

body{
background-color: #333;
color: #D0D0D0 ;
margin: 0;
font-family: 'Signika Negative', sans-serif;
}

header{
min-width: 100%;
}

/*NAVIGATION MENU*/
div.menu{
min-width: 100%;
display: inline;
font-size: large;
}

ul.navigationMenu{
display: table;
margin: 0;
padding: 0;
text-align: center;
height: 100px;
width: 100%;
}

ul.navigationMenu li{
display: table-cell;
width: 25%;
height: 100%;
vertical-align: middle;
}

ul.navigationMenu a{
text-decoration: none;
color: inherit;
}

ul.navigationMenu a:hover{
color: white;
}

#menuFilms, #menuCinemas, #menuHome{
background-image: url(../images/menuBackgroundPattern.png);
background-repeat: repeat;
border-bottom: solid 1px white;
}

#menuHome, #menuFilms, #menuCinemas{
border-right: solid 1px white;
}

li.menuItem:hover{
background-color: #444;
}

/*END OF COMMON CSS FOR ALL PAGES*/

/* Main Content Area */

div.mainContent{
margin: 5% 10%;
}

div.tabsBox{
position: relative;
display: inline-block;
margin: 0;
padding: 0;
z-index: 1; 
}

ul.tabsList{
display: table;
margin: 0;
padding: 0;
}

li.tab{
display: table-cell;
width: 80px;
height: 40px;
border-top: solid 1px white;
border-right: solid 1px white;
border-bottom: solid 1px white;
text-align: center;
vertical-align: middle;
opacity: 1;
background-color: #606060;
}

#tab1{
border-left: solid 1px white;
}

#tab1{
border-bottom: none;
}

div.contentBox{
width: 100%;
min-height: 450px;
border: solid 1px white;
margin: 0;
padding: 0;
position: relative;
top: -6px;
background-color: #606060; 
}


