


/*GOOGLE FONTS*/
@import url(http://fonts.googleapis.com/css?family=Signika+Negative);

body{
background-color: #333;
color: #D0D0D0 ;
margin: 0;
font-family: 'Signika Negative', sans-serif;
}

header{
min-width: 100%;
}

/*NAVIGATION MENU*/
div.menu{
min-width: 100%;
display: inline;
font-size: large;
}

ul.navigationMenu{
display: table;
margin: 0;
padding: 0;
text-align: center;
height: 100px;
width: 100%;
}

ul.navigationMenu li{
display: table-cell;
width: 25%;
height: 100%;
vertical-align: middle;
}

ul.navigationMenu a{
text-decoration: none;
color: inherit;
}

ul.navigationMenu a:hover{
color: white;
}

#menuFilms, #menuHome, #menuBuy{
background-image: url(../images/menuBackgroundPattern.png);
background-repeat: repeat;
border-bottom: solid 1px white;
}

#menuHome, #menuFilms, #menuCinemas{
border-right: solid 1px white;
}

li.menuItem:hover{
background-color: #444;
}

/*END OF COMMON CSS FOR ALL PAGES*/

/* Main Content Area */

div.mainContent{
margin: 5% 10%;
}

div.cinema_frame{
width: 80%; 
height: 480px;
background-color: #595959; 
margin: 50px 10% 100px 10%; 
-moz-box-shadow: 0 0 5px #1F1F1F;
-webkit-box-shadow: 0 0 5px #1F1F1F;
box-shadow: 0 0 5px #1F1F1F;
border-radius: 4px;
}

div.cinemaf_upper{
display: block; 
height: 70%;
}

div.map{
float: left; 
display: inline-block;
}

iframe.map{
margin: 5% 5% 5% 10%;
border-radius: 10px;
-moz-box-shadow: 0 0 5px #1F1F1F;
-webkit-box-shadow: 0 0 10px #1F1F1F;
}

div.description{
float:right; 
width: 50%;
}

div.description_inner{
margin: 10px 10px 10px 10px;
}

div.description_inner_text{
background-color: #CCCCCC;
color: #1E1E1E;
padding: 10px;
border-radius: 5px;
width: 85%;
margin: 5% 10% 0 5%;
font-size: 15px;
height: 250px;
-moz-box-shadow: 0 0 5px #1F1F1F;
-webkit-box-shadow: 0 0 20px #1F1F1F;
}

div.lowerpart{
margin: 10px 10px 10px 10px;
}

h2{
font-size: 25px; 
margin: 0;
}

div.inf_button{
border-radius: 5px;
padding: 5px;
margin-left: 5px;
display:inline-block;
font-size: 15px;
color: #1E1E1E;
background-color: #CCCCCC;
-moz-box-shadow: 0 0 5px #1F1F1F;
-webkit-box-shadow: 0 0 10px #1F1F1F;
}

img.icon{
border-radius: 2px;
margin-left: 2px;
}

