/* Link style */
a:hover {
 background-color:#FCB188;
 text-decoration:underline;
}

/* Fill the entire window */
body {
  padding:0;
  margin:0;
}

/* Class to add in order to hide a block */
.hiddenClass {
    display: none;
}

/* Class to add in order to show a block */
.shownClass {
    display: block;
}

/* Hidden form to select display options */
div.formContainer {
	position: fixed;
	width: 100%;
	height: 100%;
}
	#container {
		float:top;
		float:right;
		margin:0 auto;
		margin-top:50px;
		margin-right:50px;
		width: 290px;
		padding: 0;
		border-radius:10px;
		box-shadow: 0px -2px 15px 3px #AAAAAA;
		opacity: 0.92;
	}

	p.browserInfo {
		text-align:center;
		background-color:#E8CCA5;
		margin:0 auto;
		box-shadow: 0px -2px 15px 3px #AAAAAA inset;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	
	form.hiddenForm {
		background-color:#DDDDDD;
		margin:0 auto;
		display:block;
		box-shadow: 0px -2px 10px 3px #AAAAAA inset;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	
		fieldset {
			display:inline-block;
			border-radius:5px;
			border: 1px dotted green;
			margin:15px;
			margin-top:20px;
			margin-bottom:0;
		}
		
		legend {
			text-align:center;
		}
		
		#white {
			background:#FFFFFF;
		}
		#gray {
			background:#CCCCCC;
		}
		#green {
			background:#D4E2B8;
		}
		#brown {
			background:#E8CCA5;
		}
		
		input[=submit] {
			text-align:center;
			color:#0000FF;
		}
		
		#submitWrap	{
			text-align: center;
		}
		
		#margin {
			height: 20px;
		}
				
/* Default page content */
div.rootContainer {
	background-color:#FAE9D7;
	padding:0;
	margin:0;
}

	header {
		background-color:#8DA971;	
		margin:0;
		display:block;
	}

		div.headerImg {
			vertical-align:middle; 
			display:inline-block;
		}

			img.header {
				box-shadow: 0px -2px 10px 3px #7A5109;
				opacity: 0.85;
				float:left;
				overflow:hidden; 
				margin:25px; 
				margin-right:0px; 
				border-radius:50px; 
				height:100px; 
				width:100px;
			}

		div.title {
			vertical-align:middle; 
			display:inline-block;
		}

			div.insideTitle{
				display:block; 
				margin-left:15px;
			}

				h1 {
					font-family:palatino, serif; 
					color:#7A5109; 
					font-size:36px; 
					margin:0;
				}

				hr.header {
					color:#444444; 
					width:200%;
					float:left;
				}
	
				p.header {
					font-family:palatino, serif; 
					color:#575757; 
					font-style:italic; 
					font-size:18px; 
					margin:0;
				}	
				
			div.button {
				float: right;
			}

	nav.upperBar {
		background-color:#D4E2B8; 
		margin:0 auto; 
		margin-top:0px; 
		margin-bottom:5px;
		width:100%;
		display:block;
		-webkit-box-shadow:
		0px 2px 10px 3px #8DA971;
		-moz-box-shadow: 0px 2px 10px 3px #8DA971;
		box-shadow: 0px 2px 10px 3px #8DA971;
	}

		div.leftUpperNav{
			vertical-align:middle; 
			text-align:center; 
			margin:0 auto; 
			width:15%; 
			display:inline-block;
		}

		div.rigthtUpperNav{
			margin:0 auto; 
			width:80%; 
			vertical-align:middle; 
			text-align:center; 
			display:inline-block;
		}

		a.upperBarNews {
			text-decoration:none; 
			color:#7A5109; 
			font-family:palatino, serif; 
			text-align:center;
		}

		a.upperBarLink {
			text-decoration:none; 
			color:#7A5109; 
			font-family:palatino, serif; 
			margin:4px;
		}

		div.upperBar {
			margin:0 auto; 
			width:60%; 
			float:right; 
			display:inline-block;
		}

	div.mainArea{
		display:block; 
		width:92%; 
		margin:0 auto; 
		margin-top:20px; 
		margin-bottom:20px;
	}

		section.article {
			z-index: 1;
			border-radius:20px; 
			width:72%; 
			display:inline-block; 
			-webkit-box-shadow: 0px 0px 10px 3px #ADC299;
			-moz-box-shadow: 0px 0px 10px 3px #ADC299; 
			box-shadow: 0px 0px 10px 3px #ADC299;
			resize:both;
			overflow:auto;
		}

			article{
				overflow:hidden;
				resize:none;
			}

			h3 {
				font-family:times; 
				color:#7A5109; 
				font-size:28px; 
				text-align:center; 
				margin-top:40px; 
				margin-bottom:10px;
			}

			p.author {
				font-family:times; 
				color:#757575; 
				font-size:18px; 
				font-style:italic; 
				text-align:center; 
				margin:0px;
			}

			p.date {
				font-family:times; 
				color:#757575; 
				font-size:12px; 
				text-align:center; 
				margin:10px;
			}

			hr.article{
				color:#AAAAAA; 
				margin:0 auto; 
				width:50%;
			}
	
			p.paragraph {
				font-family:serif; 
				color:#444444; 
				column-count:2; 
				-moz-column-count:2; 
				-webkit-column-count:2;
				-webkit-column-gap:40px; 
				-webkit-column-rule-color:#AAAAAA; 
				-webkit-column-rule-width:2px; 
				-webkit-column-rule-style:dotted; 
				-moz-column-gap:40px; 
				-moz-column-rule-color:#AAAAAA;
				-moz-column-rule-width:2px; 
				-moz-column-rule-style:dotted;
				text-align:justify; 
				text-indent:50px; 
				width:85%; 
				margin:0 auto; 
				margin-top:50px;
				font-size: 14px;
				font-style: normal;
				font-weight: normal:
			}

			div.artImg{
			 vertical-align:middle;
			 text-align:center;
			 margin-top:30px;
			 overflow:auto;
			 width:auto;
			}

			img.article {
			 border-radius:5px;
			 margin-top:10px;
			 width: 35%;
			 max-height:500px; 
			 max-width:700px; 
			 box-shadow: 0px -2px 10px 3px #B2CC80;
			 overflow:auto;
			}

			p.comment {
			 font-family:serif; 
			 color:#777777; 
			 font-size:12px; 
			 text-align:center; 
			 margin-top:10px; 
			 margin-bottom:30px;
			}

			div.artVideo{
				 vertical-align:middle; 
				 text-align:center;
				 margin-top:20px;
				 width:auto;
			}

			video {
				width:40%;
			}

aside {
 :#FAE9D7; 
 width:25%; 
 float:right; 
 display:inline-block;
}

div.imageAside{
overflow:hidden; 
}

img.aside{
height:200px;
}

div.links{
display:inline-block;
}

div.linksAlingnment{
float:right;
}

ul.links{
 font-family:arial; 
 color:#575757; 
 font-size:14px; 
 text-align:left; 
 margin-bottom:20px;
}

p.aheader {
 font-family:arial; 
 color:#575757; 
 font-style:italic; 
 font-size:18px; 
 margin:15px;
}

a {
text-decoration: none;
}


footer {
 background-color:#8DA971; 
 height:150px; 
 float:bottom; 
 display:block; 
 margin:0 auto; 
 padding:0;
 -webkit-box-shadow: 0px -2px 10px 3px #8DA971; 
 -moz-box-shadow: 0px -2px 10px 3px #8DA971; 
 box-shadow: 0px -2px 10px 3px #8DA971;
}

section.footLeft {
 margin:25px; 
 font-family:helvetica, sans-serif; 
 vertical-align:middle; 
 color:#666666; 
 font-size:11px; 
 display:inline-block;
}

section.footRight {
 margin:25px; 
 vertical-align:middle; 
 text-align:center; 
 float:right; 
 display:inline-block;
}

p.footer{
 text-align:right; 
 font-family:helvetica, sans-serif; 
 color:#666666; 
 font-size:11px;
}
a.footerLink{
 font-family:helvetica, sans-serif; 
 text-decoration:none; 
 color:#666666; 
 margin:0px; 
 text-align:right; 
 font-size:11px;
}
